@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--main-color: #AF2C2C;
	--text-color: #311B46;
	--white-color: #ffffff;
	--sub-text-color: #2E1B46;
	--black-color: #000000;
	--border: 20px;
}

body{
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
}

a{
	color: var(--text-color);
	text-decoration: none;
	
}

.nav_container{
	background-color: var(--main-color);
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 87px;
	font-weight: 800;
}

.nav_custom{
	background-color: var(--white-color);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--border);
	padding: 0 42px;
}

.logo{
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	font-weight: 800;
}

.logo::before{
	content:"";
	border: 1px solid var(--sub-text-color);
	height: 100%;
	position: absolute;
	background-color: var(--sub-text-color); 
	left: 44px;
}

.logo img{
	width: 40px;
}

.nav_custom ul{
	gap: 40px;
}

.nav_custom ul li:last-child{
	text-transform: uppercase;
}

.footer_container{
	padding-top: 42px;
	background-color: var(--main-color);
}

.footer_container h4{
	font-size: 1rem;
	font-weight: 700;
}

.footer_container .footer_part:last-child{
	padding-top: 10px;
}
