<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="layout::header(${name}, ${email}, 'admin')"></div>
		<p>Đề tài cần duyệt</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>STT</th>
					<th>Tên đề tài</th>
					<th>Giảng viên</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project, iterStat : ${projects}">
					<td th:text="${iterStat.index + 1}">1</td>
					<td th:text="${project.topic}"></td>
					<td th:text="${project.teacherCreated.name}"></td>
					<td>
						<ul>
							<a th:href="@{/admin/project/detail/{id}(id = ${project.idResearchTopic})}">Xem chi tiết</a>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	<div th:replace="layout::footer"></div>
</body>
</html>