<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Chi tiết đề tài</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 	<link th:href="@{/css/layout.css}" rel="stylesheet">
 	<link th:href="@{/css/project_detail.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="layout::header(${name}, ${email}, 'admin')"></div>
	<div class="container-fluid">
		<h3 class="project_title">Thông tin chi tiết đề tài</h3>
		<div th:object="${researchtopic}" class="project_detail">
			<iframe th:src="@{'/uploads/' + *{detail}}" width="100%" height="600px"></iframe>
		</div>
		
		<div class="enrol_bottom" th:if="${researchtopic.state == 0}">
			<p> </p>
			<div class="confirm_button">
				<a th:href="@{/supervisors/project/edit/{id}(id=${researchtopic.idResearchTopic})}"><button>Duyệt</button></a>
			</div>
		</div>
	</div>
<script>
  function openConfirm(id) {
    document.getElementById(id).style.display = "block";
  }

  function closeConfirm(id) {
    document.getElementById(id).style.display = "none";
  }
</script>

	
</body>
</html>