<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Chi tiết đề tài</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 	<link th:href="@{/css/layout.css}" rel="stylesheet">
 	<link th:href="@{/css/project_detail.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="layout::header(${name}, ${email}, ${type})"></div>
	<div class="container-fluid">
		<div th:replace="layout::intro('supervisor')"></div>
		<h3 class="project_title">Chi tiết đề tài</h3>
		<div th:object="${researchtopic}" class="project_detail">
			<p>Tên đề tài: <span th:text="*{topic}" style="text-transform: uppercase;"></span></h3>
			<div class="project_part">
				<p>Lĩnh vực: <span th:text="*{projectType.name}"></span></p>
				<p>Loại đề tài: <span th:text="*{isResearch} ==	false ? 'Chuyên đề' : 'Đề tài'"></span>
				<p>Đề tài dành cho khóa: <span th:text="*{course.idCourse}"></span></p>
			</div>
			<p>Mô tả:</p>
			<div th:utext="*{description}"></div>
			<p>Chi tiết</p> 
			<div th:utext="*{detail}"></div>
		</div>
		
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>