<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${type == 'supevisor'} ? 'Thông tin giảng viên' : 'Thông tin sinh viên'"></title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <link th:href="@{/css/detail.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="layout::header(${ownUser.name}, ${ownUser.email}, ${ownType})"></div>
	<div class="container-fluid">
		<div class="default_infor">
			<img th:src="@{${user.imgUrl}}" alt="Ảnh đại diện"/>
			<div class="infor_text" th:if="${type} == 'supervisor'">
				<div class="info"><p class= "information">Họ và tên: </p><p><span th:text="${user.name}"></span></p></div>
				<div class="info"><p class="information">Email:</p> <span th:text="${user.email}"></span></div>
				<div class="info"><p class="information">Chức vụ:</p> <span th:text="${user.position == 1} ? 'Tiến Sĩ' : 'Thạc Sĩ'"></span></div>
				<div class="info"><p class="information">Bộ môn:</p> <span th:text="${user.department.name}"></span></div>
			</div>
			<div class="infor_text" th:if="${type} == 'student'">
				<div class="info"><p class="information">Họ và tên:</p><span th:text="${user.name}"></span></div>
				<div class="info"><p class="information">Email:</p><span th:text="${user.email}"></span></div>
				<div class="info"><p class="information">Lớp:</p><span th:text="${user.myClass.idClass}"></span></div>
				<div class="info"><p class="information">Điểm trung bình:</p><span th:text="${user.avgGrade}"></span></div>
			</div>
		</div>
		<div class="more_infor">
			<h2 class="title_info">Thông tin thêm</h2>
			<div class="cv_container">
				<div style="max-width: 100%; overflow: hidden;">
					<div class="cv_content" th:utext="${user.cv}">
						<h2>Chưa có thông tin thêm</h2>
  					</div>
				</div>
			</div>
			<a th:if="${isOwner}" th:href="@{'/profile/edit'}">
    			<button>Chỉnh sửa</button>
  			</a>
		</div>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>
