<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header(name)" class="nav_container">
		<div class="nav_custom">
			<div class="logo">
				<img alt="NTU Logo" src="/image/system/Logo_DH_NhaTrang.png">
				<span>Đại học Nha Trang</span>
			</div>
			<ul class="nav justify-content-end">
			  <li class="">
			    <a aria-current="page" th:href="@{/}" th:classappend="${currentPath == '/'} ? 'nav_active' : ''">Trang chủ</a>
			  </li>
			  <li class="">
			    <a aria-current="page" th:href="@{/}" th:classappend="${currentPath == '/topic'} ? 'nav_active' : ''">Đồ án/Chuyên đề</a>
			  </li>
			  <li class="">
			    <a th:text="${name}" aria-current="page" href="/supervisors/detail/1"></a>
			  </li>
			</ul>
		</div>
	</div>
	
	<div th:fragment="footer" class="footer_container">
		<div class="row footer_custom">
			<div class="col-7 footer_part">
				<div class="logo">
					<img alt="NTU Logo" src="/image/system/Logo_DH_NhaTrang.png">
					<span>Đại học Nha Trang</span>
				</div>
				<p>
					Trải qua 65 năm xây dựng và phát triển, Trường Đại học Nha Trang đã trở thành 
					một trong những cơ sở đào tạo đa ngành, đa lĩnh vực quy mô lớn; là cơ sở nghiên 
					cứu chủ đạo, triển khai ứng dụng công nghệ tiên tiến, đặc biệt trong lĩnh vực thủy 
					sản phục vụ phát triển kinh tế xã hội khu vực Nam Trung Bộ, Tây Nguyên và phạm vì cả nước.
				</p>
				<h4>THÔNG TIN LIÊN HỆ</h4>
				<p><img src="/image/system/location.svg" alt="location"><span>02 Nguyễn Đình Chiểu, phường Vĩnh Thọ, Nha Trang, Khánh Hòa</span></p>
				<p><img src="/image/system/phone.svg" alt="location"><span>02583831149</span></p>
				<p><img src="/image/system/mail.svg" alt="location"><span>dhnt@ntu.edu.vn</span></p>
			</div>
			<div class="col-5 footer_part">
				<h4>THÔNG TIN THAM KHẢO ĐỒ ÁN CHUYÊN ĐỀ</h3>
				<a href="">Tham khảo đề tài<br/></a>
				<a href="">Lịch sử trường Đại học Nha Trang</a>
			</div>
		</div>
	</div>
</body>
</html>