@charset "UTF-8";

.enrol_detail{
	margin: 24px 87px;
}

.enrol_detail h3{
	font-family: Geologica;
	font-size: 2rem;
	font-weight: 600;
	color: var(--main-color);
	margin-bottom: 1rem;
}

.enrol_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.enrol_title p{
	font-weight: 500;
	margin: 0;
}

.enrol_title p span{
	font-weight: 400;
}

.enrol_title p span:first-child{
	text-transform: uppercase;
}

.enrol_title table{
	padding: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	
}