@charset "UTF-8";

.container-fluid{
	padding: 40px 87px 40px 87px;
}
.project_title{
	font-family: Geologica;
	color: var(--main-color);
	font-weight: 600;
	font-size: 2rem;
	margin: 24px 87px;
	text-align: center;
}

.project_detail{
	margin: 24px 87px;
	font-size: 20px;
}


.project_detail>p,
.project_part>p{
	font-weight: 800;
}

.project_detail span{
	font-weight: 500;
	margin-left: 10px;
}

.project_part{
	display: flex;
	justify-content: space-between;
}

.enrol_bottom{
	padding-top: 16px;
	display: flex;
	justify-content: space-between;	
}

.enrol_bottom .confirm_button button{
	padding: 8px 24px;
	border-radius: 12px;
	border: none;
	background-color: var(--main-color);
	color: white;
}

.enrol_bottom .confirm_button a:first-child button{
	background-color: white;
	color: var(--main-color);	
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-right: 8px;
}

.enrol_bottom button{
	padding: 8px 24px;
	border-radius: var(--border);
	border: none;
	background-color: var(--main-color);
	color: white;
}

.topic-name{
	font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    align-items: center;
}

.topics{
	display: flex;
	gap: 8px;
	align-items: center;
	padding-bottom: 8px;
}

button.btn{
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	font-family: "Noto Sans", sans-serif;
}

button.btn[type="submit"] {
  background: var(--main-color);
  color: white;
}

button.btn-secondary {
  background: #6c757d;
  color: white;
}

.confirm{
	font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size:20px;
    margin-bottom: 8px ;
}

button{
	font-family: "Noto Sans", sans-serif;
    font-size:16px;
}

.more_infor button{
	border-radius: 25px;
}