@charset "UTF-8";

.enrol_detail{
	margin: 24px 87px;
}

.enrol_detail h3{
	font-family: Geologica;
	font-size: 2rem;
	font-weight: 600;
	color: var(--main-color);
	margin-bottom: 1rem;
}

.enrol_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.enrol_title p{
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

.enrol_title p span{
	font-weight: 400;
}

.enrol_title p span:first-child{
	text-transform: uppercase;
}

.enrol_list{
	width: 100%;
	border-radius: var(--border);
	margin-top: 1rem;
}

.enrol_list tr{
	padding: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

.enrol_list tr span{
	color: var(--sub-text-color);
}

.enrol_list tr:first-child{
	border-radius: var(--border) var(--border) 0 0 ;
}

.enrol_list tr:last-child{
	border-radius: 0 0 var(--border) var(--border);
}

.enrol_list tr:nth-child(odd){
	background-color: #F5F5F5;
}

.enrol_list td a{
	text-decoration: underline;
	color: black;
}

.enrol_list td a:hover{
	text-decoration: underline;
	color: var(--main-color);
}